extends ./layout/index

block slider
   .slider
      h1 Rio de Janeiro
      em aventura

block contenido
   main.container.mt-5
      h2.text-center.mb-5 Sobre Nosotros
      .row.mb-5
         .col-md-6
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id facilisis libero. Duis feugiat est quis ligula maximus interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eleifend faucibus nulla, at pulvinar mauris ullamcorper at. In vitae quam non diam iaculis lobortis a non libero. Phasellus massa neque, fermentum eget fringilla vitae, sodales quis sem. Sed et libero a lacus varius tristique non nec tellus.
            p Maecenas mauris mauris, ullamcorper sit amet augue eget, fermentum suscipit lectus. Integer sed lacus vitae arcu sollicitudin bibendum vel sit amet lectus. Morbi vehicula magna justo, eu tempor mi tristique non. Suspendisse ut condimentum dolor, in iaculis dolor.
         .col-md-6
            img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

      include ./layout/bloque_viajes

   .descuento
      .container
         .row
            .col-md-6
               .contenido
                  h3 5% de descuento
                  p.titulo Viaje a Canadá
                  p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                  p.precio $2,500 USD

   .container.mt-5
      h2.text-center.mb-5 Testimoniales
      include ./layout/bloque_testimoniales