extends ./layout/index

block contenido
   main.container.mt-5
      .row
         .col-md-5
            img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
         .col-md-7
            h1 #{pagina}

            blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id facilisis libero. Duis feugiat est quis ligula maximus interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam eleifend faucibus nulla, at pulvinar mauris ullamcorper at. In vitae quam non diam iaculis lobortis a non libero. Phasellus massa neque, fermentum eget fringilla vitae, sodales quis sem. Sed et libero a lacus varius tristique non nec tellus.

            p Maecenas mauris mauris, ullamcorper sit amet augue eget, fermentum suscipit lectus. Integer sed lacus vitae arcu sollicitudin bibendum vel sit amet lectus. Morbi vehicula magna justo, eu tempor mi tristique non. Suspendisse ut condimentum dolor, in iaculis dolor. Nullam interdum vitae lorem imperdiet pulvinar. Aliquam sit amet enim luctus.

            p Vestibulum libero leo, elementum ac libero ut, malesuada laoreet ligula. Donec at consequat felis. Quisque felis augue, consequat nec justo vitae, semper efficitur ipsum. Sed interdum lacinia metus, at cursus nunc varius non. Nam congue, neque eu egestas pulvinar, mi urna facilisis metus, sed venenatis quam est quis lorem. Aenean nec neque id eros.
   .listado-iconos
      .container.mt-5.py-5.text-center
         .row
            .col-md-4
               img(src="img/icono_seguridad.svg", alt="icono seguridad", class="imag-fluid mb-4")
               h2.mb-4 Seguridad
               p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, optio nesciunt aspernatur beatae tempora aperiam ea obcaecati fugit nostrum corporis. Explicabo quo ut assumenda ipsam.

            .col-md-4
               img(src="img/icono_destinos.svg", alt="icono destinos", class="imag-fluid mb-4")
               h2.mb-4 Mejores Destinos
               p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, optio nesciunt aspernatur beatae tempora aperiam ea obcaecati fugit nostrum corporis. Explicabo quo ut assumenda ipsam.

            .col-md-4
               img(src="img/icono_precios.svg", alt="icono precios", class="imag-fluid mb-4")
               h2.mb-4 Los Mejores Precios
               p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, optio nesciunt aspernatur beatae tempora aperiam ea obcaecati fugit nostrum corporis. Explicabo quo ut assumenda ipsam.